<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.studyjams.s1.sj03.sj_03_hulele">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="道德经小讲"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WriterActivity"/>
        <activity android:name=".WorkActivity"/>
        <activity android:name=".QuotationActivity"/>
        <activity android:name=".EvaluateActivity"/>
        <activity android:name=".EnlightenmentActivity"/>
    </application>

</manifest>